@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}
body{
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background-color: #f4f4f4;
    color: black;
    border-radius: 30px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.dark-btn{
    margin-top: 35px;
   background-color: #212EA0;
    color: #fff;
}